<!-- prettier-ignore -->
{% extends "base.html" %} {% load static %} {% block title %} Login {% endblock %}

<!-- prettier-ignore -->
{% block content %}
<body class="login-modal-body">
  <div class="loginModal">
    <h2>Log In</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <input
          type="text"
          name="{{ form.username.name }}"
          class="form-control"
          placeholder="Username"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="{{ form.password.name }}"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <button class="loginButton" type="submit">Log In</button>
    </form>
    <a class="registerLink" href="register.html">Register</a>
  </div>
  s
</body>
{% endblock %}
