{% extends "base.html" %}

<!--prettier-ignore -->
{% load static %}{% block title %}Home{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var dateTextarea = document.getElementById("id_date");
    var authorTextarea = document.getElementById("id_author");

    if (dateTextarea) {
      // Get current date in YYYY-MM-DD format
      // Get the current date
      var currentDate = new Date();

      // Subtract one day from the current date
      currentDate.setDate(currentDate.getDate() - 1);

      // Format the date to ISO string (YYYY-MM-DD)
      var mtcDate = currentDate.toISOString().split("T")[0];

      dateTextarea.value = mtcDate;
    }
  });
  var apiUrl = "{% url 'blogs:get_user_name' %}";

  // Make an AJAX request to fetch the username
  $.ajax({
    url: apiUrl,
    method: "GET",
    success: function (data) {
      var authorTextarea = document.getElementById("id_author");

      if (authorTextarea && data.user) {
        // Set the value of the textarea to the fetched username
        authorTextarea.value = data.user;
      }
    },
    error: function () {
      console.log("Error fetching username");
    },
  });
</script>
<body class="home-body">
  <div class="header-container">
    <div class="navbar">Grog Blog</div>
    {% if user.is_superuser %}
    <a>
      <button
        class="createButton"
        data-toggle="modal"
        data-target="#createPostModal"
      >
        Create Post
      </button>
    </a>
    {% endif %}
    <div class="greeting">
      {% if user.is_authenticated %} Hi {{ user.first_name }}!
      <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      {% endif %}
    </div>
  </div>
  <div id="calendar"></div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="createPostModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createPostModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPostModalLabel">Create Post</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Example form for creating a post -->
          <form method="POST" action="{% url 'blogs:newPost' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_title">Title:</label>
              <input
                type="text"
                class="form-control"
                id="id_title"
                name="title"
                required
              />
            </div>
            <div class="form-group">
              <label for="id_author">Author:</label>
              <input
                type="text"
                class="form-control"
                id="id_author"
                name="author"
                required
                readonly
              />
            </div>
            <div class="form-group">
              <label for="id_date">Date:</label>
              <textarea
                style="text-align: center"
                class="form-control"
                id="id_date"
                name="date"
                required
                readonly
              ></textarea>
            </div>
            <div class="form-group">
              <label for="id_content">Content:</label>
              <textarea
                class="form-control"
                id="id_content"
                name="content"
                rows="3"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
