.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container p {
  margin-top: 0%;
  margin-bottom: 0%;
}

.body-container {
  height: 90vh;
  width: auto;
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in height calculation */
  margin-left: 30px;
  margin-right: 30px;
}

.fc-toolbar-title {
  font-size: 20px; /* Adjust the font size */
  color: white; /* Adjust the text color */
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  padding-left: 5px;
}

.fc-today {
  opacity: 0.7;
}

.createButton {
  padding: 8px;
  margin-right: 170px;
  background-color: #007bff;
  border-radius: 10%;
}

.createButton:hover {
  cursor: pointer;
}

.navbar {
  padding: 5px;
  color: #fff;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace;
}

.greeting {
  text-align: right;
  margin-right: 10px;
  font-size: medium;
  color: whitesmoke;
}

.loginModal h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.loginModal a {
  text-align: center;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Input styles */
form input {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styles */
.loginButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}

.login-modal-body {
  background-image: url("/static/blogs/assets/hunterhunter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
  height: 100vh; /* Set the height to 100% of the viewport height */
  margin: 0; /* Remove any default margin */
  display: flex; /* Use flexbox to center content vertically */
  align-items: center; /* Center content vertically */
}

.home-body {
  background-image: url("/static/blogs/assets/hunterhunter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
  height: 100vh; /* Set the height to 100% of the viewport height */
  margin: 0; /* Remove any default margin */
}

.blogs {
  float: left;
  width: 65%;
  text-align: center;
}

.custom-weekday-label {
  color: white;
}

body {
  font-family: "fcicons", fallback-font, sans-serif;
}

.create-blog {
  float: left;
  width: 35%;
  padding: 10px;
  background-color: gray;
}

.blogBody {
  background-color: white;
  width: calc(65% - 10px); /* Adjust width to leave some space between items */
  margin-bottom: 20px;
  margin-left: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
  padding: 10px;
  border-radius: 15%;
}

.create-blog {
  width: calc(30% - 10px); /* Adjust width to leave some space between items */
  margin-bottom: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Optional: Add media queries for responsiveness */
@media (max-width: 768px) {
  .blogs {
    flex-direction: column;
  }

  .blogBody,
  .create-blog {
    width: 100%;
  }
}

.blog-post {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 50px;
}

.author {
  color: #777;
}

.date {
  font-style: italic;
  color: #555;
}

.content {
  line-height: 1.6;
  color: #444;
}
